html {
    background-color:rgb(247, 247, 247);
}
body{
    background-color:white;
    font-family:Arial, Helvetica, sans-serif;
    color: #594b3a;
    max-width: 1500px;
    width: 85%;
    padding-left: 40px;
    padding-right:30px;
    margin:0 auto;
}
h1 {
    font-family: serif;
    font-size: 25px;
    font-weight: lighter;
    border-bottom: rgb(243, 238, 238) solid 4px;
    border-top: rgb(243, 238, 238) solid 4px;
    Text-align: center;
    padding-top: 15px; 
    padding-bottom: 1%;
    color: #7c6e5e;
    letter-spacing: 0.3rem;
}
h2 {
    font-style: normal;
    font-weight: normal;
    font-family:sans-serif,Arial;
    font-size: 15px;
    text-align: center;
    color: #695d4f;
}
img {
    float: left;
    margin-right: 30px;
    width: 400px;
    height: 250px;
}
.clearfix  {
    clear: both;
}
p {
    line-height: 1.5;
    position: initial;
}
.artp {
    padding-right: 5%;
    padding-top: 0.1px;
}


.list{
    color:#43948e;
}
.artpic {
    width: 48%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 16px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: black;
    color:#f2f2f2;
}
caption {
    padding-bottom: 3%;
}
.created {
    text-align: center;
    font-size: 12px;
}
.quote {
    background-color: #f1f0f0;
    font-size: 25px;
    font-family: serif;
    font-style: italic;
    font-weight: normal;
    padding: 10px 10px 1px 20px;
    margin-bottom: 40%;
    line-height: 1px;
}
.albert  {
    text-align: right;
    padding-bottom: 5%;
    padding-right: 2%;
}
h2 a {
    font-size: 7px;
}
caption a {
    font-size: 7px;

}

table {
width: 100%;

}
table td, table th {
    border: 1px solid #add;
    padding: 8px;
}
table tr:nth-child(even) {
    background-color: #f2f2f2;
}
table tr:hover{
    background-color: #add;
    border: 2px dashed white;
}
@media only screen and (min-width: 250px) {
  .img {
    width: 50%;
  }
}
@media only screen and (max-resolution: 150dpi) and (max-width: 480px) {
  body {
    font-size: 15px
  }
}


