
* {
    box-sizing: border-box;
}
/* colors */
header, main, aside {
    background-color:#5D4157;
}
body {
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
}
.site-container {
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100%;
    text-align: center;
}
main {
     width: 18%;
     text-align: center;
}
aside {
    width: 79.888%;
    text-align: center;
}
header, main, aside {
    padding: 30px;
    margin: 7px;
}
main, aside{
    height: 400px;

}
